* {
    font-family: Arial, serif;
}

body {
    padding-left: 40px;
    padding-right: 40px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: white;
    text-align: center;
}

.footer-hr {
    color: lightgray;
}

.footer-content {
    padding-top: 5px;
    padding-bottom: 15px;
}

.footer-content > a:link {
    color: #7d7c7c;
}

.footer-content > a:visited {
    color: #9a9a9a;
}

.footer-content > p {
    color: #7d7c7c;
}

.footer-content > * {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}
