<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dropdown.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/collapsible.css}"/>
</head>
<body class="site">


<main class="site-content">
    <script th:src="@{/js/dropdown.js}"></script>

    <div th:fragment="hierarchy(departments)" th:unless="${#lists.isEmpty(departments)}">
        <div th:each="child : ${departments}">
            <button type="button" class="collapsible" th:text="${child.getName()}"></button>
            <div class="collapsible-content">
                <div th:replace="this::hierarchy(${child.getChildren()})"></div>
            </div>
        </div>
    </div>

    <script th:src="@{/js/collapsible.js}"></script>
</main>


<footer th:insert="general :: footer"></footer>
</body>

</html>