<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dropdown.css}"/>
</head>
<body>
<script th:src="@{/js/dropdown.js}"></script>
<form action="#" th:action="@{/employees}" method="get">
    <div>
        <label>
            Имя:
            <input type="text" name="name">
        </label>
        <label>
            <select name="educationLevel" autocomplete="off">
                <option style="display: none" th:selected th:disabled th:value>---Уровень образования---</option>
                <option th:each="level : ${educationLevels}" th:value="${level}"
                        th:text="${level}">Уровень</option>
            </select>
        </label>
        <div class="dropdown">
            <input type="text" style="display: none;" name="educationPlace" id="edPlaceInput">
            <button onclick="dropFunction('edPlaceDrop')" class="dropbtn" type="button">Место обучения</button>
            <div id="edPlaceDrop" class="dropdown-content" onmouseleave="dropFunction('edPlaceDrop')">
                <input type="text" placeholder="Search.." id="edPlaceFilterInput" class="dropInput"
                       onkeyup="filterFunction('edPlaceFilterInput', 'edPlaceDrop')">
                <div>
                    <button type="button" th:value
                            onclick="updateInput('edPlaceInput', this)">Нет</button>
                </div>
                <div th:each="place : ${educationPlaces}">
                    <button type="button" th:text="${place}" th:value="${place}"
                            onclick="updateInput('edPlaceInput', this)"></button>
                </div>
            </div>
        </div>
    </div>
    <label><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></label>
</form>
<table>
    <thead>
        <tr>
            <th>
                Имя
            </th>
            <th>
                Адрес
            </th>
            <th>
                Должность
            </th>
        </tr>
    </thead>
    <tbody>
        <tr th:if="${employees.isEmpty()}">
            <td colspan="2"> Служащих по заданному фильтру не найдено. </td>
        </tr>
        <tr th:each="employee : ${employees}">
            <td><span th:text="${employee.getName()}"> Имя </span></td>
            <td><span th:text="${employee.getAddress()}"> Адрес </span></td>
            <td><span th:text="${employee.getCurrentPosition()}"> Должность </span></td>
        </tr>
    </tbody>
</table>


<div th:replace="general :: footer"></div>
</body>

</html>