<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dropdown.css}"/>
</head>
<body class="site">
<main class="site-content">
    <script th:src="@{/js/dropdown.js}"></script>
    <h1>Список служащих</h1>
    <div style="display: flex; justify-content: space-between">
        <div>
            <form action="#" th:action="@{/employees}" method="get">
                <div>
                    <label>
                        <input style="max-width: 50vw;" class="inputText1" type="text" name="name" placeholder="Имя сотрудника">
                    </label>
                    <div th:replace="general :: dropdown('eduLevel', 'Уровень образования', ${educationLevels}, 'educationLevel')"></div>
                    <div th:replace="general :: dropdown('eduPlace', 'Место обучения', ${educationPlaces}, 'educationPlace')"></div>
                </div>
                <input class="button1" type="submit" value="Применить" />
                <input class="button1 danger" type="reset" value="Сбросить" />
            </form>
        </div>
        <div style="display: flex;">
            <a style="align-self: flex-end;" class="button1" th:href="@{/employees/employee}">Добавить служащего</a>
        </div>
    </div>
    <table class="autoTable">
        <thead>
            <tr>
                <th>
                    Имя
                </th>
                <th>
                    Должность
                </th>
                <th>
                    Образование
                </th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${employees.isEmpty()}">
                <td colspan="3"> Служащих по заданному фильтру не найдено. </td>
            </tr>
            <tr th:each="employee : ${employees}">
                <td><a th:text="${employee.getName()}" th:href="${'/employees/employee?id=' + employee.getId()}"> Имя </a></td>
                <td><span th:text="${employee.getCurrentPosition()}"> Должность </span></td>
                <td><span th:text="${employee.getEducation()}"> Адрес </span></td>
            </tr>
        </tbody>
    </table>
    <script th:src="@{/js/inputs.js}"></script>
</main>


<footer th:insert="general :: footer"></footer>
</body>

</html>