<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dropdown.css}"/>
</head>
<body class="site">
<main class="site-content">
    <script th:src="@{/js/dropdown.js}"></script>
    <h1 th:if="${employee.getActionMode().toString().equals('UPDATE')}">Информация о служащем</h1>
    <h1 th:if="${employee.getActionMode().toString().equals('CREATE')}">Добавить служащего</h1>
    <form action="#" th:action="@{/employees/employee}" method="post">
        <div>
            <label>
                Имя сотрудника
                <input style="max-width: 70vw;" class="inputText1 resizing-input" type="text" name="name"
                       th:value="${employee.getName()}" placeholder="        ">
            </label>
        </div>
        <div>
            <label>
                Адрес проживания
                <input style="max-width: 70vw;" class="inputText1 resizing-input" type="text" name="address"
                       th:value="${employee.getAddress()}" placeholder="        ">
            </label>
        </div>
        <div th:replace="general :: textDropdown('eduLevel', 'Уровень образования',
                ${employee.getEducationLevel()}, ${educationLevels}, 'educationLevel')"></div>
        <div th:replace="general :: textDropdown('eduPlace', 'Место обучения',
                ${employee.getEducationPlace()}, ${educationPlaces}, 'educationPlace')"></div>
        <input class="button1" type="submit" value="Сохранить"/>
    </form>
    <script th:src="@{/js/inputs.js}"></script>
</main>


<footer th:insert="general :: footer"></footer>
</body>

</html>