<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body class="site">
<main class="site-content">
    <h1>Добро пожаловать.</h1>
    <div>
        <a class="button1" th:href="@{/employees}">Список служащих</a>
    </div>

    <div>
        <a class="button1" th:href="@{/departments}">Список подразделений</a>
    </div>
</main>

<footer th:insert="general :: footer"></footer>
</body>

</html>